* {
  box-sizing: border-box;
  }

body {
margin: 0;
font-family: "Hiragino Kaku Gothic ProN", sans-serif;
background-color: #DDF3F7;
color: #333333;
}

a {
text-decoration: none;
color: #333333;
}

.container {
width: 100%;
max-width: 1000px;
padding: 0 15px;
margin: 0 auto;
}

/* ページ全体のトップ部分 */
.top-wrapper {
padding: 80px 0;
background-color: #DDF3F7;
color: #333333;
text-align: center;
}

/* ページタイトル */
.top-wrapper h1 {
margin: 0;
font-size: 45px;
letter-spacing: 5px;
}

/* 説明文 */
.top-wrapper p {
font-size: 16px;
margin-top: 20px;
}

.container img {
    width: 300px;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.date {
    margin-top: 15px;
    color: #777777;
    font-size: 14px;
}

.comment {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.8;
}
