* {
  box-sizing: border-box;
  }

body {
margin: 0;
font-family: "Hiragino Kaku Gothic ProN", sans-serif;
background-color: #ffffff;
color: #333333;
}

/* リンク */
a {
text-decoration: none;
color: #333333;
}

/* ページ全体の幅 */
.container {
width: 100%;
max-width: 1000px;
padding: 0 15px;
margin: 0 auto;
}

/* トップページ */
.top-wrapper {
padding: 80px 0;
background-image: url("top.png");
background-size: cover;
background-position: center;
color: white;
text-align: center;
}

/* ページタイトル */
.top-wrapper h1 {
margin: 0;
font-size: 45px;
letter-spacing: 5px;
}

/* 説明文 */
.top-wrapper p {
font-size: 16px;
margin-top: 20px;
}
